aenum==3.1.16
aioboto3==15.5.0
aiobotocore==2.25.1
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioitertools==0.13.0
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
beautifulsoup4==4.14.3
boto3==1.40.61
botocore==1.40.61
Bottleneck==1.6.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
cryptography==46.0.5
dacite==1.9.2
dataclasses-json==0.6.7
distro==1.9.0
docstring_parser==0.17.0
frozenlist==1.8.0
google-api-core==2.30.0
google-auth==2.49.1
google-cloud-aiplatform==1.113.0
google-cloud-bigquery==3.40.1
google-cloud-core==2.5.0
google-cloud-resource-manager==1.16.0
google-cloud-storage==2.19.0
google-crc32c==1.8.0
google-genai==1.67.0
google-resumable-media==2.8.0
googleapis-common-protos==1.73.0
greenlet==3.3.2
grpc-google-iam-v1==0.14.3
grpcio==1.78.0
grpcio-status==1.78.0
h11==0.16.0
hdbcli==2.27.24
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
idna==3.11
isodate==0.6.1
jiter==0.13.0
jmespath==1.1.0
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.28
langchain-aws==0.2.35
langchain-community==0.3.31
langchain-core==0.3.83
langchain-google-vertexai==2.1.1
langchain-hana==0.2.2
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
langsmith==0.7.17
marshmallow==3.26.2
multidict==6.7.1
mypy_extensions==1.1.0
numexpr==2.14.1
numpy==2.4.3
openai==2.28.0
orjson==3.11.7
overloading==0.5.0
packaging==25.0
propcache==0.4.1
proto-plus==1.27.1
protobuf==6.33.5
pyarrow==21.0.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pyhumps==3.8.0
pyparsing==3.3.2
pypdf==6.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
rdflib==7.0.0
regex==2026.2.28
requests==2.32.5
requests-toolbelt==1.0.0
s3transfer==0.14.0
sap-ai-sdk-base==3.2.3
sap-ai-sdk-core==3.2.0
sap-ai-sdk-gen==5.11.0
scipy==1.17.1
shapely==2.1.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
SQLAlchemy==2.0.48
tenacity==9.1.4
tiktoken==0.12.0
tqdm==4.67.3
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uuid_utils==0.14.1
validators==0.35.0
websockets==16.0
wikipedia==1.4.0
wrapt==1.17.3
xxhash==3.6.0
yarl==1.23.0
zstandard==0.25.0
